@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: "Raleway";
    src: url('../fonts/Raleway.woff') format('woff'),
         url('../fonts/Raleway.ttf') format ('truetype'),
         url('../fonts/Raleway.otf') format('opentype');
}

body {
    max-width: 1200px; 
    margin: 0 auto;    
    background-color: #f5f5f5;
    overflow-y: scroll;
    font-family: "Raleway", serif;
    font-weight: bold;
}

h1, h2, h3 {
    font-family: "Lato", sans-serif ;
    font-weight: 900;
}

p{
    font-family: "Raleway", serif;
    font-weight: 700;
}

a {
  color: inherit;     
  text-decoration: none;
}

/* HEADER */

header{
    display:flex;
    background-color: #17abb3;    
    align-items: center;
    justify-content: space-around;
}

.picture img{
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    border: 5px solid white;
    object-fit: cover;
}

.zoom{
    cursor: zoom-in;
}

.header1 {
    color: #e3e3e3;
    padding: 20px ;
    text-align: center;
}

.header1 h1{
    font-size: 2.5em;
    margin: 0;
}

.header1 h2{
    margin: 5px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  gap: 20px;
}

header li{
  flex: 1 1 45%; 
  text-align: start;
}

.mail{
    list-style-image: url("../img/e-mail.png");
}

.phone{
    list-style-image: url("../img/phone.png");
}

.house{
    list-style-image: url("../img/house.png");
}

.car{
    list-style-image: url("../img/car.png");
}

/* MAIN */

.grid1{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.font400{
    font-weight: normal;
}

h3{
    color: #17abb3;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

    /* SECTION 1 */

.section1{
    background-color: #ededed;
    padding: 30px 50px 30px 50px;
}

.box2 ul{
    padding-inline-start: 0;
}

.box2 li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 0 3px 0;
}

.stars{
    color: #17abb3;
    font-size: 1.2em;
}

.list1 ul{
    list-style: none;
    padding-inline-start: 0;
}

.list1 ul li{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.square{
    color: #17abb3;
    font-size: 0.7em;
    padding-right: 20px;
}

.font700{
    font-weight: 700;
}

    /* SECTION 2 */

.section2{
    background-color: #ffffff;
    padding: 30px 50px 30px 50px;
}

.p1 p{
    text-indent: 20px;
    margin: 0;
}

.list2 ul{
    list-style: none;
    padding-inline-start: 0;
}

.list2 li{
    margin-bottom: 20px;
    padding: 10px 0 10px 0;
}

.list2 li:hover{

    background-color: #e3e3e3;
    border-left: 5px solid #17abb3;
    padding-left: 10px;
}
.list2 strong{
    display: flex;
    justify-content: space-between;
}

.list2 em{
    font-style: italic;
    font-size: 0.9em;
}

.date1{
    color: #17abb3;
}


/* FOOTER */

footer{
    background-color: #17abb3;
    color: white;
}

.flexbox1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logo{
    width: 25px;
    margin: 20px 10px 0 10px;
}

footer img:hover{
    opacity: 0.5;
}

.date{
    text-align: center;
    padding: 0 0 10px 0;
}
